$desktop-size:1024px;
$tablet-mini-size: 600px;
$tablet-size:768px;
$movile-size:320px;

.wrapper {
    background-color: rgb(224, 224, 224);
    display: flex;

    @media (max-width:$tablet-size){
        flex-direction: column;
    }
    
    @media (max-width:$movile-size){
        flex-direction: column;
    }
   
    .content-filters{
        flex-shrink: 0;
        margin: 1rem; 
        min-width: 200px;

        font-weight: 600;

        @media (max-width: $desktop-size){
            min-width: 150px;
            margin: 0.8rem;
        }

        @media (max-width:$tablet-size){
            min-width: 300px;
        }

        @media (max-width: $tablet-mini-size){
            min-width: 145px;
            
        }
    
        @media (max-width:$movile-size){
            min-width: 300px;
            margin:0.6rem;
        }

        
        .filters{
            margin:1rem 0;
            background-color: #fafafa;
            border-radius: 30px;
            padding: 0.8rem;

            font-size: 0.8rem;

            display: flex;
            justify-content: space-between;

            @media (max-width:$movile-size){
                padding:0.6rem;
                margin:1rem;
            }

            .fas:hover{                
                transition: 0.35s;
                cursor: pointer;
                transform: scale(1.5);                
            }
        }
    }

    .content-wrapper{
        width: 100%;        

        .title-wrapper{
            font-size: 1rem;
            font-weight: 600;
            margin-top:1rem;
            margin-bottom: 1rem;

            @media (max-width:$tablet-size){
                margin: 3%;
            }

            @media (max-width:$movile-size){
                margin-left:5%;
            }                          
        }

        .general-articles{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            @media (max-width:$movile-size){
                margin-right: 0.5rem;
            }          
            
            .article-wrapper{
                min-width: 30%;
                border-radius: 5px;
                overflow: hidden;
                margin-bottom: 2rem;

                &:hover{
                    transition: 0.35s;
                    cursor: pointer;
                    transform: scale(1.05);
                }

                @media (max-width: $desktop-size){
                    min-width: 32%;
                }

                @media (max-width: $tablet-size){
                    min-width: 48%;
                }

                @media (max-width: $tablet-mini-size){
                    min-width: 45%;
                }

                @media (max-width:$movile-size){
                    min-width:90%;
                    
                }                                
                
                .image-wrapper{
                    background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
                    background-size: cover;
                    background-position: center;
    
                    width: 100%;
                    height: 15rem;

                    @media (max-width: $desktop-size){
                        height: 13rem;
                    }

                    @media (max-width: $tablet-mini-size){
                        height: 10rem;                                     
                    }                    
                }
                
                .description{
                    padding: 1rem;
                    background-color: #fafafa;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    font-size: 0.8rem;
                    width: 100%;
    
                    .title-article{
                        margin-bottom: 0.5rem;
                    }
                }    
            }
        }        
    }
}