@import "base/reset";
@import "modules/wrapper";
@import "modules/footer";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

$desktop-size:1024px;
$tablet-mini-size: 600px;
$tablet-size:768px;
$movile-size:320px;

* {
    box-sizing: border-box;
}


body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;  
}

.general{   

    .title-store{
        padding: 1rem;

        .title{
            font-size: 2rem;
            font-weight: 600;

            @media (max-width:$desktop-size){
                font-size: 1.7rem;
            }

            @media (max-width:$tablet-size){
                font-size: 1.5rem;
            }

            @media (max-width: $tablet-mini-size){
                font-size: 1.5rem;
            }

            @media (max-width:$movile-size){
                font-size: 1.2rem;
            }
        }
    }
}