@import "base/reset";
@import "modules/wrapper";
@import "modules/footer";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    box-sizing: border-box;
}


body {
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;  
}

.general{
    

    .title-store{
        padding: 1rem;

        .title{
            font-size: 2rem;
            font-weight: 600;
        }
    }
}